body{
font-family:Arial;
background:#111;
color:white;
text-align:center;
}

#video-container{
display:grid;
grid-template-columns:repeat(auto-fit,250px);
gap:20px;
justify-content:center;
padding:20px;
}

.card{
background:#1e1e1e;
padding:10px;
border-radius:10px;
}

.thumbnail{
width:100%;
border-radius:8px;
}
